---
layout: archive
title: "Community"
permalink: /community/
author_profile: true
---

Salmon Watersheds Lab - Simon Fraser University
======
Burnaby, BC, Canada
-----

The Salmon Watersheds Lab’s mission is to understand the dynamics of aquatic ecosystems and inform their conservation and management, with a primary focus on salmon systems. 
I am proud to be a part of the dynamic and supportive team of the Salmon Watersheds Lab at Simon Fraser University, BC, led by Dr. Jonathan Moore. 
My research is a part of a broader group focusing on the importance of estuary habitat for juvenile salmon. 

[Salmon Watersheds Lab Website](https://www.jonwmoore.org/)

{% include base_path %}

{% for post in site.community reversed %}
  {% include archive-single.html %}
{% endfor %}
