---
layout: archive
title: "Talks and presentations"
permalink: /talks/
author_profile: true
---

Salmon Watersheds Lab - Simon Fraser University
======
Burnaby, BC, Canada
-----

The Salmon Watersheds Lab’s mission is to understand the dynamics of aquatic ecosystems and inform their conservation and management, with a primary focus on salmon systems. 
I am proud to be a part of the dynamic and supportive team of the Salmon Watersheds Lab at Simon Fraser University, BC, led by Dr. Jonathan Moore. 
My research is a part of a broader group focusing on the importance of estuary habitat for juvenile salmon. 

[Salmon Watersheds Lab Website](https://www.jonwmoore.org/)

{% if site.talkmap_link == true %}

<p style="text-decoration:underline;"><a href="/talkmap.html">See a map of all the places I've given a talk!</a></p>

{% endif %}

{% for post in site.talks reversed %}
  {% include archive-single-talk.html %}
{% endfor %}
